<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAGAZZINO - Italtergi</title>

    <link rel="stylesheet" type="text/css" href="/css/cdn/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/cdn/fontawesome-free-5.13.0-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/cdn/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/scripts/cdn/DataTables/datatables.min.css" />

    <script type="text/javascript" src="/scripts/cdn/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="/scripts/cdn/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="/scripts/cdn/popper.min.js"></script>
    <script type="text/javascript" src="/scripts/cdn/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/cdn/bootstrap-toggle.min.js"></script>


    <script type="text/javascript" src="/scripts/cdn/DataTables/date-euro.js"></script>
    <script type="text/javascript" src="/scripts/cdn/loader.js"></script>
    <script type="text/javascript" src="/scripts/cdn/chart.js"></script>
    <script type="text/javascript" src="/scripts/cdn/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="/scripts/cdn/bootstrapnotify/bootstrap-notify.js"></script>
    <script type="text/javascript" src="/scripts/cdn/moment.js"></script>
</head>

<body>
<%- include("navbar")  %>
<%- include("loadingscreen")  %>
<%- include("notifications")  %>

