<style>
    .modal-full {
        min-width: 75%;
        margin: 0;
    }

    .modal-full #pdfcontent {
        min-height: 75vh;
    }
</style>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Esempio lettura dati...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="mdlbody">
                <img style="max-width: 100%;" src="/istruzioni.png" alt="etichetta">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>

            </div>
        </div>
    </div>
</div>